@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');

* {
    /* border-style: solid;
    border-width: 1px; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

p {
    font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
    line-height: 175%;
}

h1 {
    font-weight: 600;
    font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.container {
    max-width: 1200px;
    margin: auto;
}

.top-navigation {
    background-color: #ffffff;
    overflow: visible;
    float: right;
    max-height: 60px;
}

.top-navigation a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
}

.dropdown .drop-button {
    border: none;
    outline: none;
    color: #000000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #c3c3c3;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header {
    top: 0;
    background: #ffffff;
    width: 100%;
    max-height: 60px;
}

.header-logo, .top-navigation {
    display: inline;
}

.image-responsive {
    display: block;
    width: 100%;
    height: auto;
}

.berkeley-logo {
    max-height: 60px;
}

.anniversary-logo {
    max-width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.slick-list { margin: 0 -5px; }
.slick-slide { padding: 0 5px; }

.slick-prev:before, .slick-next:before {
    color: black;
}

.hero-container {
    background: #DDD5C7;
    max-height: 564px;
}

.video-container {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
}

.video-container iframe, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
}
  
.video-wrap {
    width: 100%;
}
